@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 3, 3, 3; /* #030303 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden; /* Yanlara taşmayı engeller */
}

/* --- PREMIUM SCROLLBAR TASARIMI --- */
/* Webkit tarayıcılar (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Çubuğun genişliği */
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* Çubuğun arka planı */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Kaydıran kısım */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5; /* Üzerine gelince İndigo olsun */
}

/* Seçilen metin rengi (Selection) */
::selection {
  background: rgba(79, 70, 229, 0.3); /* İndigo arkaplan */
  color: #fff;
}